<div ng-model="sprintBoard" id="board" class='kanban-screen' style="max-width: 100%;">

    <table id="boardTable" class="table table-bordered">
        <thead>
        <tr id="boardHeader" class="board-header">
            <th style="text-align: left; width: 12.5%">
                <span>FEATURES</span>
            </th>
            <th style="width: 12.5%" ng-repeat="column in sprintBoard.columns" >
                <div>
                    <span  >{{column.name}}</span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="backlog in sprintBoard.backlogs">

            <th>
                <div class="story card sortable-item">
                    <div class="row">
                        <span class="card-title">{{backlog.name}}</span>
                    </div>
                </div>
            </th>

            <td as-sortable="sprintSortOptions" ng-repeat="phase in backlog.phases" ng-model="phase.cards">

                <div class="card" ng-repeat="card in phase.cards" as-sortable-item >
                    <div as-sortable-item-handle>


                                <span class="card-title btn btn-warning btn-lg" style="white-space: inherit">{{card.title}}</span>

                            <!--<div class="col-sm-2">
                                <a data-no-drag class=" removeCard pull-right btn btn-xs" ng-click="removeCard(column, card)"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>-->

                    </div>
                </div>


            </td>
        </tr>
        </tbody>
    </table>
</div>
